<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://pngimg.com/uploads/popcorn/small/popcorn_PNG14.png" %>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "My list", "/" , class: "nav-link" %>
      </li>
      <li class="nav-item">
         <%= link_to "New list", new_list_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="card">
    <%= simple_form_for(@list) do |f| %>
      <div class="form-inputs">
        <%= f.input :name, label: "Name", placeholder: 'List name:'%>
      </div>
      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
</div>
