<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://pngimg.com/uploads/popcorn/small/popcorn_PNG14.png" %>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "My list", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
         <%= link_to "New list", new_list_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>

<div class="container">
      <div class="bg-white p-3 shadow center" style="margin-top: 20px">
        <h3>Add a movie to your <%= @list.name %> list</h3>
        <%= simple_form_for [@list, @bookmark] do |f| %>
          <%= f.input :comment, placeholder: 'Enter comment' %>
          <%= f.association :movie, prompt: 'Select movie' %>
          <%= f.submit class: 'btn form-actions' %>
        <% end %>
      </div>
</div>
